/.vs/MassTransitDI/v15/.suo
/.vs/MassTransitDI/v15/Server/sqlite3/db.lock
/.vs/MassTransitDI/v15/Server/sqlite3/storage.ide
/.vs/MassTransitDI/v15/Server/sqlite3/storage.ide-shm
/.vs/MassTransitDI/v15/Server/sqlite3/storage.ide-wal
/MassTransitDI/bin/Debug/netcoreapp2.0/MassTransitDI.deps.json
/MassTransitDI/bin/Debug/netcoreapp2.0/MassTransitDI.dll
/MassTransitDI/bin/Debug/netcoreapp2.0/MassTransitDI.pdb
/MassTransitDI/bin/Debug/netcoreapp2.0/MassTransitDI.runtimeconfig.dev.json
/MassTransitDI/bin/Debug/netcoreapp2.0/MassTransitDI.runtimeconfig.json
/MassTransitDI/bin/Debug/netcoreapp2.0/appsettings.json
/MassTransitDI/obj/Debug/netcoreapp2.0/MassTransitDI.AssemblyInfo.cs
/MassTransitDI/obj/Debug/netcoreapp2.0/MassTransitDI.AssemblyInfoInputs.cache
/MassTransitDI/obj/Debug/netcoreapp2.0/MassTransitDI.csproj.CoreCompileInputs.cache
/MassTransitDI/obj/Debug/netcoreapp2.0/MassTransitDI.csproj.FileListAbsolute.txt
/MassTransitDI/obj/Debug/netcoreapp2.0/MassTransitDI.csprojResolveAssemblyReference.cache
/MassTransitDI/obj/Debug/netcoreapp2.0/MassTransitDI.dll
/MassTransitDI/obj/Debug/netcoreapp2.0/MassTransitDI.pdb
/MassTransitDI/obj/MassTransitDI.csproj.nuget.cache
/MassTransitDI/obj/MassTransitDI.csproj.nuget.g.props
/MassTransitDI/obj/MassTransitDI.csproj.nuget.g.targets
/MassTransitDI/obj/project.assets.json
